<?xml version="1.0" encoding="UTF-8"?>

<!-- http://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
        backupGlobals               = "false"
        backupStaticAttributes      = "false"
        colors                      = "true"
        convertErrorsToExceptions   = "true"
        convertNoticesToExceptions  = "true"
        convertWarningsToExceptions = "true"
        processIsolation            = "false"
        stopOnFailure               = "false"
        syntaxCheck                 = "false"
        bootstrap                   = "vendor/autoload.php" >

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>test/phpunit/unit</directory>
            <directory>test/phpunit/functional</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>lib</directory>
            <exclude>
                <directory>apps</directory>
                <directory>lib/*/doctrine/base</directory>
                <directory>lib/*/doctrine/*Plugin/base</directory>
                <directory>lib/vendor</directory>
                <directory>plugins</directory>
                <directory>vendor</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
